/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3 {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
}

article {
  padding: 50px 0;
  text-align: center;
}
/*added list test alignment and special .h4align rule */
li{
  text-align: left;
  
}

.h4align{
  text-align: left;
  
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: left;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border-radius: 50%;
  border: 2px #003049;
  border-style: solid;
}
nav {
  text-align: center;
  
} 

.nav-padding{
  padding: 15px;
  font-size: 15px;
}

footer{
  text-align-last: center;
}
/* link colors not acting right */
a:link    { color: #d62828;  }
a:visited { color: blue;   }
a:hover   { color: #f77f00; }
a:active  { color: pink;  }
